@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('style_login.css');
@import url('style_shop.css');

/* Color Variables */
:root {
  --main-color: #27ae60;
  --dark-green: #4CAF50;
}

/* General Styles */
* {
  font-family: 'Poppins', sans-serif;
}

/* Layout */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
}

.container form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(193, 255, 232, 0.1);
  border-radius: 15px;
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: var(--main-color);
}

.container form .row .col {
  flex: 1 1 250px;
}

/* Titles */
.container form .row .col .title {
  font-size: 40px;
  color: var(--main-color);
  -webkit-text-stroke: 1.2px rgb(45, 42, 42);
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* Input Styles */
.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000000;
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--main-color);
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #2ecc71;
}

/* Progress Bar */
.progress-bar {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-bar span {
  width: 50%;
  height: 5px;
  background-color: #ddd;
  position: relative;
}

.progress-bar span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--main-color);
  transition: width 0.3s ease;
}

/* Checkout Confirmation */
.slide:not(:first-child) {
  display: none;
}

#checkout-buttons p {
  font-size: 18px;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 10px;
}

.checkout-confirmation {
  display: none;
  text-align: center;
  margin-top: 20px;
}

.checkout-confirmation p {
  font-size: 24px;
  font-weight: bold;
  color: var(--dark-green);
  margin-bottom: 10px;
}

.checkout-confirmation button {
  padding: 10px 20px;
  background-color: var(--dark-green);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checkout-confirmation button:hover {
  background-color: #45a049;
}