@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
@import url('style.css');
@import url('style_shop.css');



/* General Styles */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

/* Layout */
.container {
  display: flex;
  justify-content: center ;
  align-items: center;
  padding: 25px;
  margin-top: -13rem;
}

.container form {
  padding: 20px;
  width: 80rem;
  background: #f9f7f7;
  box-shadow: 0 5px 10px rgba(193, 255, 232, 0.1);
  border-radius: 15px;
}

.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  color: var(black);
}

.container form .row .col {
  flex: 1 1 250px;
}


/* Titles */
.container form .row .col .title {
  font-size: 40px;
  color: #297147;
  -webkit-text-stroke: 1.2px rgb(45, 42, 42);
  margin-top: 2rem;
  margin-bottom: 5rem;
  text-transform: uppercase;
  text-align: center;
}

/* Input Styles */
.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox {
  margin-top: 10px;
  display: block;
  color: #000000;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #c7c2c2;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000000;
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: var(--main-color);
  color: #fff;
  margin-top: 15px;
  cursor: pointer;
  border-radius: 15px;
}

.container form .submit-btn:hover {
  background-image: var(--linear-gradient-1);
  
}

/* Payment Method Styles */

.container form #visa,
.container form #mastercard,
.container form #paypal,
.container form #AMEX {
  display: none;
}

.container .title {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.container .title1 {
  font-weight: 800px;
  background-image: var(--linear-gradient-2);
  background-clip: text;
  -webkit-text-stroke: 1.2px rgb(45, 42, 42);
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.payment-form input {
  display: none;
}

.category {
  margin-top: 10px;
  padding-top: 10px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 15px;
}

.container form .payment-form input[type="radio"] {
  display: none;
}


.category label {
  height: 145px;
  padding: 10px;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  position: relative;
}

#visa:checked ~ .category .visaMethod,
#mastercard:checked ~ .category .mastercardMethod,
#paypal:checked ~ .category .paypalMethod,
#AMEX:checked ~ .category .amexMethod{
    box-shadow: 0px 0px 0px 1px #6064b6;
}

#visa:checked ~ .category .visaMethod .check,
#mastercard:checked ~ .category .mastercardMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#AMEX:checked ~ .category .amexMethod .check{
    display: block;
}
.category label .imgName {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.imgName span {
  font-family: Arial, Helvetica, sans-serif;
  position: absolute;
  top: 72%;
  transform: translateY(-50%);
}

.imgName .imgContainer {
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 35%;
  transform: translateY(-30%);
}

.visa img {
  width: 80px;
}

.mastercard img {
  width: 65px;
}

.paypal img {
  width: 80px;
}

.AMEX img {
  width: 50px;
}

.check {
  display: none;
  position: absolute;
  top: -4px;
  right: -4px;
}

.check i {
  font-size: 18px;
}

/*--Header--*/

/* .custom-header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  justify-content: center; 
  margin: 0 auto;
  margin-bottom: 30px;
} */

/* Styling for the custom logo text */
.custom-logo {
  font-size: var(--title-sm);
  color: var(--main-color);
  text-transform: uppercase;
  font-weight: var(--fw-700);
  padding: 20px;
  justify-content: center;
}

/* Styling for the custom header action buttons */
.custom-header-action {
  display: flex;
  gap: 8px;
}

/* Styling for the custom logo image */
.custom-logo-img {
  width: 300px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  display: block; /* Make it a block element for center alignment */
  margin: 0 auto; /* Center align the image */
  margin-bottom: 2rem;
}


#menu-icon {
  display: block;
  margin: 0 auto;
}

.custom-nav-link:last-child {
  margin-right: 0;
}

/* Styling for the custom navigation bar */
.custom-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--oxford-blue-2);
  padding-inline: 16px;
  box-shadow: var(--shadow-1);
  z-index: 1;
  font-size: larger;
}
/* Styling for the custom navigation links */
.custom-nav-link {
  font-size: var(--title-md);
  color: var(--white);
  text-align: center;
  font-weight: var(--fw-500);
  margin-right: 20px;
  transition: color 0.3s ease;
  padding: 10px 13px;
}

/* Additional styling for the custom navigation links */
.custom-nav-link {
  display: block;
  padding: 10px 20px;
}


/* Footer Styling */



