    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

    :root {

        /**
        * colors
        */
    
        --prussian-blue: hsla(217, 33%, 17%, 1);
        --oxford-blue-2: hsla(222, 47%, 11%, 1);
        --oxford-blue: hsla(221, 33%, 15%, 1);
        --blue-violet: rgb(237, 163, 59);
        --blue-violet_a5: hsla(262, 83%, 58%, 0.05);
        --blue-violet_a10: hsla(262, 83%, 58%, 0.1);
        --alice-blue: hsla(214, 32%, 91%, 1);
        --alice-blue-2: hsla(215, 30%, 92%, 1);
        --cultured: hsla(220, 14%, 96%, 1);
        --gainsboro: hsla(220, 13%, 91%, 1);
        --light-gray: hsla(216, 12%, 84%, 1);
        --white: hsla(0, 0%, 100%, 1);
        --white_a10: hsla(0, 0%, 100%, 0.1);
        --manatee: hsla(218, 11%, 65%, 1);
        --green-cyan: hsla(161, 94%, 30%, 1);
        --cadet-grey: hsla(215, 20%, 65%, 1);
        --electric-indigo: hsla(263, 70%, 50%, 1);
        --maximum-red: hsla(0, 72%, 51%, 1);
        --black: hsla(0, 0%, 0%, 1);
        --gunmetal: hsla(215, 28%, 17%, 1);
    
        /**
        * gradient color
        */
    
        --linear-gradient-1: linear-gradient(to top left, hsla(68, 72%, 51%, 0.4) 0%, hsla(188, 83%, 58%, 0.4));
        --linear-gradient-2: linear-gradient(to right, rgb(237, 225, 59), hsla(0, 72%, 51%, 1));
    
        /**
        * typography
        */
    
        --ff-urbanist: 'Urbanist', sans-serif;
    
        --headline-lg: 3.6rem;
        --headline-md: 2.6rem;
        --title-lg: 2rem;
        --title-md: 1.8rem;
        --title-sm: 1.7rem;
        --body-lg: 2rem;
        --body-md: 1.7rem;
        --label-lg: 2.4rem;
        --label-md: 1.4rem;
        
        --fw-700: 700;
        --fw-600: 600;
        --fw-500: 500;
    
        /**
        * spacing
        */
    
        --section-padding: 32px;
    
        /**
        * box shadow
        */
    
        --shadow-1: 0 0 3px hsl(215, 28%, 17%);
        --shadow-2: 0 5px 13px hsl(215, 28%, 17%);
        --shadow-3: 0 5px 13px hsl(217, 19%, 27%);
        --shadow-4: 0 0 3px hsl(217, 19%, 27%);
        --shadow-5: 0 5px 13px hsla(214, 19%, 29%, 0.2);
    
        /**
        * border radius
        */
    
        --radius-circle: 50%;
        --radius-pill: 100px;
        --radius-12: 12px;
        --radius-8: 8px;
        --radius-6: 6px;
    
        /**
        * transition
        */
    
        --transition-1: 0.25s ease;
        --transition-2: 0.5s ease;
    
    }
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

    .container {
        padding-top: 0px; /* Adjust the value as needed to create enough space for your logo */
        min-height: 800px;
        height: 100vh;
    }

    body,
    input {
    font-family: "Poppins", sans-serif;
    }

    body {
        background-color: var(--oxford-blue-2);
        background-image: url(/image/body_bg.png);
        background-repeat: repeat;
        background-attachment: fixed;  
        background-size: cover;
        background-position: center center; /* Added this line */
        color: var(--cadet-grey);
        font-size: 1.6rem;
        line-height: 1.5;
        z-index: 1;
    }
    body::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%; /* Set width to 100% for full viewport coverage */
        height: 60%; /* Set height to 100% for full viewport coverage */
        background-image: var(--linear-gradient-1); /* Use your desired gradient */
        border-radius: var(--radius-circle);
        filter: blur(200px);
        z-index: -1; /* Set z-index to -1 to place it behind the content */
      }

      .additional-notice {
        display: block;
        margin-top: 5px; /* Adjust as needed */
        text-align: center;
      }
      

    
    /* .signin-signup {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 75%;
    width: 50%;
    transition: 1s 0.7s ease-in-out;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 5;
    } */

    form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0rem 5rem;
    transition: all 0.2s 0.7s;
    overflow: hidden;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    }

    .title {
    font-size: 2.2rem;
    color: #f0f0f0;
    margin-bottom: 10px;
    }

    .input-field {
    max-width: 400px;
    width: 100%;
    background-color: #f0f0f0;
    margin: 10px 0;
    height: 55px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0.4rem;
    position: relative;
    }

    .input-field i {
    text-align: center;
    line-height: 55px;
    color: #acacac;
    transition: 0.5s;
    font-size: 1.1rem;
    }

    .input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 1.1rem;
    color: #333;
    }

    .input-field input::placeholder {
    color: #aaa;
    font-weight: 500;
    }

    .social-text {
    padding: 0.7rem 0;
    font-size: 1rem;
    color: #f0f0f0;

    }

    .social-media {
    display: flex;
    justify-content: center;
    }

    .social-icon {
    height: 46px;
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.45rem;
    color: #f0f0f0;
    border-radius: 50%;
    border: 1px solid #f0f0f0 ;
    text-decoration: none;
    font-size: 1.1rem;
    transition: 0.3s;
    }

    .social-icon:hover {
    color: #556b2f;
    border-color: #556b2f;
    }

    .btn {
    width: 150px;
    background-color: #f0f0f0;
    border: none;
    outline: none;
    height: 49px;
    border-radius: 49px;
    color: #333;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
    }

    .btn:hover {
    background-color: #556b2f;
    }


    /* .container:before {
        content: "";
        position: absolute;
        height: 1500px; 
        width: 1500px;
        top: 150px; 
        right: 50%;
        transform: translateY(-50%);
        background-image: url('/image/pokemon-go-login.jpg'); 
        background-size: cover;
        background-position: center;
        transition: 1.8s ease-in-out;
        border-radius: 50%;
        z-index: 6;
    }
    */
    
    @media (max-width: 870px) {
    .container {
        min-height: 800px;
        height: 100vh;
    }
    .signin-signup {
        width: 100%;
        top: 95%;
        transform: translate(-50%, -100%);
        transition: 1s 0.8s ease-in-out;
    }

    .signin-signup,
    .container.sign-up-mode .signin-signup {
        left: 50%;
    }

    .panels-container {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 1fr;
    }

    .panel {
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding: 2.5rem 8%;
        grid-column: 1 / 2;
    }

    .right-panel {
        grid-row: 3 / 4;
    }

    .left-panel {
        grid-row: 1 / 2;
    }

    .image {
        width: 200px;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.6s;
    }

    .panel .content {
        padding-right: 15%;
        transition: transform 0.9s ease-in-out;
        transition-delay: 0.8s;
    }

    .panel h3 {
        font-size: 1.2rem;
    }

    .panel p {
        font-size: 0.7rem;
        padding: 0.5rem 0;
    }

    .btn.transparent {
        width: 110px;
        height: 35px;
        font-size: 0.7rem;
    }

    .container:before {
        width: 1500px;
        height: 1500px;
        transform: translateX(-50%);
        left: 30%;
        bottom: 68%;
        right: initial;
        top: initial;
        transition: 2s ease-in-out;
    }

    .container.sign-up-mode:before {
        transform: translate(-50%, 100%);
        bottom: 32%;
        right: initial;
    }

    .container.sign-up-mode .left-panel .image,
    .container.sign-up-mode .left-panel .content {
        transform: translateY(-300px);
    }

    .container.sign-up-mode .right-panel .image,
    .container.sign-up-mode .right-panel .content {
        transform: translateY(0px);
    }

    .right-panel .image,
    .right-panel .content {
        transform: translateY(300px);
    }

    .container.sign-up-mode .signin-signup {
        top: 5%;
        transform: translate(-50%, 0);
    }
    }

    @media (max-width: 570px) {
    form {
        padding: 0 1.5rem;
    }

    .image {
        display: none;
    }
    .panel .content {
        padding: 0.5rem 1rem;
    }
    .container  {
        padding: 1.5rem;
    }

    .container:before {
        bottom: 72%;
        left: 50%;
    }

    .container.sign-up-mode:before {
        bottom: 28%;
        left: 50%;
    }
    }