@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@100..900&family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');
*{
    font-family: "Urbanist", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 2rem;
    text-decoration: none;
    list-style: none;

}

:root {
    --prussian-blue: rgb(217, 245, 206);
    --oxford-blue-2: rgb(247, 244, 220);
    --oxford-blue: rgb(207, 236, 190);
    --blue-violet: rgb(237, 163, 59);
    --blue-violet_a5: hsla(262, 83%, 58%, 0.05);
    --blue-violet_a10: hsla(262, 83%, 58%, 0.1);
    --alice-blue: hsla(214, 32%, 91%, 1);
    --alice-blue-2: hsla(215, 30%, 92%, 1);
    --cultured: hsla(220, 14%, 96%, 1);
    --gainsboro: hsla(220, 13%, 91%, 1);
    --light-gray: hsla(216, 12%, 84%, 1);
    --white: rgb(186, 153, 206);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --manatee: hsla(218, 11%, 65%, 1);
    --green-cyan: hsla(161, 94%, 30%, 1);
    --cadet-grey: rgb(13, 16, 19);
    --electric-indigo: hsla(263, 70%, 50%, 1);
    --maximum-red: hsla(0, 72%, 51%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --gunmetal: hsla(215, 28%, 17%, 1);


    --linear-gradient-1: linear-gradient(to top left, hsla(68, 72%, 51%, 0.4) 0%, hsla(188, 83%, 58%, 0.4));
    --linear-gradient-2: linear-gradient(to right, rgb(237, 225, 59), hsla(0, 72%, 51%, 1));

    --ff-urbanist: 'Urbanist', sans-serif;

    --headline-lg: 3.6rem;
    --headline-md: 2.6rem;
    --title-lg: 2rem;
    --title-md: 1.8rem;
    --title-sm: 1.7rem;
    --body-lg: 2rem;
    --body-md: 1.7rem;
    --label-lg: 2.4rem;
    --label-md: 1.4rem;
    
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;

    --section-padding: 32px;

    --shadow-1: 0 0 3px hsl(215, 28%, 17%);
    --shadow-2: 0 5px 13px hsl(215, 28%, 17%);
    --shadow-3: 0 5px 13px hsl(217, 19%, 27%);
    --shadow-4: 0 0 3px hsl(217, 19%, 27%);
    --shadow-5: 0 5px 13px hsla(214, 19%, 29%, 0.2);

    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-12: 12px;
    --radius-8: 8px;
    --radius-6: 6px;

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;

    --main-color: #273fa1;
    --text-color: #000;
    --bg-color: #fffefe;
    --container-color: #1e1e2a;
}

html,
body,
div.video-container,
video
 {
  height: 93%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

video{
  height: 100%;
  width: 100%;
  object-fit :fill;
}

.video-container {
  overflow: hidden;
  background: #000;
  display: block !important;
  position: relative;
}

.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}

.title-container {
  z-index: 10;
  color: #a17b7b;
  position: absolute;
}

.adjustedHeight {
  height: calc(100% - 77px);
  width: 100%;
  padding: 0;
}
  
body {
    background-color: var(--oxford-blue-2);
    background-image: url(/image/body_bg.png);
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: cover;
    background-position: center center; /* Added this line */
    color: var(--cadet-grey);
    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 1;
}
body::before {
    content: "";
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%; /* Set width to 100% for full viewport coverage */
    height: 60%; /* Set height to 100% for full viewport coverage */
    background-image: var(--linear-gradient-1); /* Use your desired gradient */
    border-radius: var(--radius-circle);
    filter: blur(200px);
    z-index: -1; /* Set z-index to -1 to place it behind the content */
  }


/* body{
    color: var(--text-color);
    background: var(--bg-color);

} */
img{
    width: 100%;
}
section{
    padding: 4rem 0 2rem;
}
.container{
    max-width: 1070px;
    margin: auto;
    width: 100%;
}
header {
    position: fixed; /* Set position to fixed */
    top: 0;
    width: 100%;
    z-index: 100;
    background-color: var(--container-color); /* Set background color */
    padding: 15px 0; /* Add padding */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* Add box shadow */
    opacity: 80%;
    gap: 3;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0;
    gap: 4;
    
}

#menu-icon {
    font-size: 28px;
    cursor: pointer;
    color: var(--main-color); /* Change color */
    display: none;
    color: black;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke: 3px black;
}

.logo {
    font-size: 1.5rem;
    color: var(--main-color);
    text-transform: uppercase;
    font-weight: 700;
}

.navbar {
    display: flex;
    column-gap: 4rem;
}

.nav-link {
    font-size: 1.7rem;
    color: var(--bg-color);
    text-align: center;
    font-weight: 600;
    transition: color 0.3s ease;
    gap: 3;
}

.nav-link:hover {
    color: var(--blue-violet);
}


#cart-icon{
    position: relative;
    font-size: 2rem;
    color: var(--bg-color);
    cursor: pointer;
}
#cart-icon[data-quantity="0"]::after{
    content: "";
}

.logo-img {
    width: 120px; 
    height: auto; 
    display: block; 
}

#cart-icon[data-quantity]::after {
    content: attr(data-quantity);
    position: absolute;
    top: 0;
    right: -11px;
    width: 20px;
    height: 20px;
    background: var(--white);
    border-radius: 50%;
    color: var(--black);
    font-size: 15px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home {
    position: relative;
    background-image: url(/image/pokemon-background5.gif);
    background-repeat: no-repeat; /* Set background to not repeat */
    background-size: cover; /* Ensure the background covers the entire element */
    background-position: top center; /* Place background image at the top and center horizontally */
    min-height: 550px;
}

.home-img{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
}
.home-img img{
    max-width: 700px;
    width: 100%;
}
.home-img::before {
    content: "PokémonGo ";
    font-size: 9rem;
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: -130px;
    color: #2C2D2D;
    z-index: -1;
    right: 300px;
    white-space: nowrap;
}

.home-img::after {
    content: "Store";
    font-size: 9rem;
    font-weight: 900;
    position: absolute;
    text-align: center;
    top: -130px;
    color: transparent;
    background: linear-gradient(45deg, var(--blue-violet), var(--electric-indigo));
    background-image: var(--linear-gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    z-index: -1;
    left: 800px; /* Adjust the left position to position "Store" */
    white-space: nowrap;
}

.heading{
    font-size: 4rem;
    font-weight: 1000;
    -webkit-text-stroke: 1px rgb(45, 42, 42);
    /* text-transform: uppercase; */
    text-align: center;
    color: var(--white);
    position: relative;
    position: relative;
    margin: 2rem 0;
    margin-bottom: 3rem; /* Add space between heading and carousel */
}

.heading::before,
.heading::after {
    content: "";
    position: absolute;
    top: 50%;
    width: 24%;
    height: 1px;
    background-color: #D1D5DB; /* Adjust color as needed */
}

.heading::before {
    left: 0;
}

.heading::after {
    right: 0;
}

.gradient-text {
    background: linear-gradient(45deg, var(--blue-violet), var(--electric-indigo));
    background-image: var(--linear-gradient-2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.product-container{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
    margin-top: 9rem;
    size-adjust: auto;
    margin-bottom: 5rem;
}

.product-img{
    width: auto;
    height: 400px;
    object-fit: cover;
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.product-title{
   
    font-size: 4rem;
    font-weight: 700;
    color: var(--bg-color);
    margin: 0.8rem 0 0.5rem;
    -webkit-text-stroke: 1.2px rgb(45, 42, 42)
}
.product-price{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(221, 233, 168);
    
}
.product-promo{
    border-radius: 5px;
    background-color: rgb(212, 61, 144);
    color: #eee;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 12px;
    font-size: medium;
    padding: 5px 10px;
    font-weight: 700;
    width: 280px;
      
}

.add-to-cart{
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 0.6rem;
    cursor: pointer;
    border-radius: 15px;
    border: groove;
    transition: background-color 0.2s ease;
    
}
.add-to-cart:hover{
  background: var(--linear-gradient-1);
  color: rgb(49, 51, 47);
  box-shadow: 10px 10px 5px #aaaaaa;
}

.add-to-cart-container {
    
    justify-content: center;
    margin-top: 1.5rem; /* Adjust margin as needed */
}

.add-to-cart-below-carousel {
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 600;
    letter-spacing: 1px;
    display: flex;
    justify-content: center;
    padding: 10px 10px;
    margin-top: 0.6rem;
    cursor: pointer;
    border-radius: 15px;
    border: groove;
    transition: background-color 0.2s ease;
    width: 220px;
    margin-bottom: 4rem;
}

.add-to-cart-below-carousel:hover {
  background: var(--linear-gradient-1);
  color: rgb(49, 51, 47);
  box-shadow: 10px 10px 5px #aaaaaa
}

.add-to-cart-below-carouse2 {
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 0.6rem;
  cursor: pointer;
  border-radius: 15px;
  border: groove;
  transition: background-color 0.2s ease;
  width: 220px;
  margin-bottom: 4rem;
}

.add-to-cart-below-carouse2:hover {
background: var(--linear-gradient-1);
color: rgb(49, 51, 47);
box-shadow: 10px 10px 5px #aaaaaa
}

.add-to-cart-below-carouse3 {
  background: var(--main-color);
  color: var(--bg-color);
  font-weight: 600;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  padding: 10px 10px;
  margin-top: 0.6rem;
  cursor: pointer;
  border-radius: 15px;
  border: groove;
  transition: background-color 0.2s ease;
  width: 220px;
  margin-bottom: 4rem;
}

.add-to-cart-below-carouse3:hover {
background: var(--linear-gradient-1);
color: rgb(49, 51, 47);
box-shadow: 10px 10px 5px #aaaaaa
}

.cart-container {
    margin-top: 22rem !important;
    margin-bottom: 22rem !important;
}
.back-homepage{
    display: flex;
    align-items: center;
}
.back-homepage .bx{
    font-size: 24px;
    color: var(--text-color);
}
.back-homepage span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-color);
}
.cart-s-title{
    font-size: 1.5rem;
    margin: 1.5rem 0;
}
.cart-box{
    display: grid;
    grid-template-columns: 80% 20%;
    gap: 1rem;
}
#cartItems{
    display: grid;
    row-gap: 1rem;
}
.cart-item{
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    align-items: center;
    border-bottom: 1px solid #f2f0f1;
    padding-bottom: 10px;
}
.cart-item img{
    width: 80px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
.cart-item-title{
    font-size: 1.3rem;

}
.product-hide {
  display: none;
}
.cart-item-quantity{
    border: 1px solid var(--main-color);
    outline-color: var(--main-color);
    width: 2.8rem;
    text-align: center;
    border-radius: 4px;
    margin-top: 0.5rem;
    font-size: 1rem;
}
.cart-item-price{
    font-size: 1.3rem;
}
.remove-from-cart{
    max-width: 80px;
    font-weight: 700;
    border: none;
    outline: none;
    background: red;
    color: var(--bg-color);
    padding: 8px;
    cursor: pointer;
}
.cart-t{
    display: flex;
    flex-direction: column;
}
#cartTotal{
    font-size: 2rem;
    font-weight: 600;
}
.checkout-btn{
    margin-top: 2rem;
    background: var(--main-color);
    color: var(--bg-color);
    text-align: center;
    padding: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;  
    max-width: auto;
}

.carousel-container {
  position: relative;
  margin-top: 9rem; /* Adjust top margin as needed */
  margin-bottom: 9rem; /* Adjust bottom margin as needed */
  padding: 2rem; /* Adjust padding as needed */
  
}

.items {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  height: 800px; /* Adjust height as needed */
  overflow: hidden; /* Ensure items don't overlap */
}

.items .item {
  position: absolute;
  width: auto; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  border-radius: 15px;
  transition: all 300ms ease-in-out;
  opacity: 0; /* Initially hide all slides */
}

.item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}

.item.active {
  opacity: 1;
  z-index: 20;
  box-shadow: 0px 0px 105px -35px rgba(0, 0, 0, 0.75);
}

.item.prev {
  z-index: 2;
  opacity: 0.25;
  transform: translateX(-150%); /* Adjust positioning */
}

.item.next {
  z-index: 2;
  opacity: 0.25;
  transform: translateX(150%); /* Adjust positioning */
}

.button-container {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  padding: 0 10px; /* Adjust spacing */
  width: 100%; /* Make the button container fill the carousel */
  
}

.button-container .button {
  
  font-size: 32px;
  cursor: pointer;
  position: relative;
  transition: all 300ms ease-in-out;
  z-index: 1; /* Ensure buttons appear above the slides */
  
}

.button-container .button:hover {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
}

.button-container .button:before {
  content: ""; /* Add content */
  position: absolute; /* Set position */
  top: 50%; /* Position from top */
  left: 50%; /* Position from left */
  transform: translate(-50%, -50%); /* Center horizontally and vertically */
  width: 50px; /* Set width */
  height: 50px; /* Set height */
  background-color: rgb(49, 45, 45); /* Set background color */
  opacity: 40%; /* Set opacity */
  border-radius: 50%; /* Make circle */
  z-index: -1; /* Set stacking order behind buttons */
}

.button-container .button:nth-child(1) {
  float: left;
}

.button-container .button:nth-child(2) {
  float: right;
}


  :root {

    /**
     * colors
     */
  
    --prussian-blue: hsla(217, 33%, 17%, 1);
    --oxford-blue-2: hsla(222, 47%, 11%, 1);
    --oxford-blue: hsla(221, 33%, 15%, 1);
    --blue-violet: rgb(237, 163, 59);
    --blue-violet_a5: hsla(262, 83%, 58%, 0.05);
    --blue-violet_a10: hsla(262, 83%, 58%, 0.1);
    --alice-blue: hsla(214, 32%, 91%, 1);
    --alice-blue-2: hsla(215, 30%, 92%, 1);
    --cultured: hsla(220, 14%, 96%, 1);
    --gainsboro: hsla(220, 13%, 91%, 1);
    --light-gray: hsla(216, 12%, 84%, 1);
    --white: hsla(0, 0%, 100%, 1);
    --white_a10: hsla(0, 0%, 100%, 0.1);
    --manatee: hsla(218, 11%, 65%, 1);
    --green-cyan: hsla(161, 94%, 30%, 1);
    --cadet-grey: hsla(215, 20%, 65%, 1);
    --electric-indigo: hsla(263, 70%, 50%, 1);
    --maximum-red: hsla(0, 72%, 51%, 1);
    --black: hsla(0, 0%, 0%, 1);
    --gunmetal: hsla(215, 28%, 17%, 1);
  
    /**
     * gradient color
     */
  
    --linear-gradient-1: linear-gradient(to top left, hsla(68, 72%, 51%, 0.4) 0%, hsla(188, 83%, 58%, 0.4));
    --linear-gradient-2: linear-gradient(to right, rgb(237, 225, 59), hsla(0, 72%, 51%, 1));
  
    /**
     * typography
     */
  
    --ff-urbanist: 'Urbanist', sans-serif;
  
    --headline-lg: 3.6rem;
    --headline-md: 2.6rem;
    --title-lg: 2rem;
    --title-md: 1.8rem;
    --title-sm: 1.7rem;
    --body-lg: 2rem;
    --body-md: 1.7rem;
    --label-lg: 2.4rem;
    --label-md: 1.4rem;
    
    --fw-700: 700;
    --fw-600: 600;
    --fw-500: 500;
  
    /**
     * spacing
     */
  
    --section-padding: 32px;
  
    /**
     * box shadow
     */
  
    --shadow-1: 0 0 3px hsl(215, 28%, 17%);
    --shadow-2: 0 5px 13px hsl(215, 28%, 17%);
    --shadow-3: 0 5px 13px hsl(217, 19%, 27%);
    --shadow-4: 0 0 3px hsl(217, 19%, 27%);
    --shadow-5: 0 5px 13px hsla(214, 19%, 29%, 0.2);
  
    /**
     * border radius
     */
  
    --radius-circle: 50%;
    --radius-pill: 100px;
    --radius-12: 12px;
    --radius-8: 8px;
    --radius-6: 6px;
  
    /**
     * transition
     */
  
    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
  
  }
  
  /*-----------------------------------*\
    #RESET
  \*-----------------------------------*/
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  li { list-style: none; }
  
 
  ion-icon { display: block;
   }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  img { height: auto; }
  
  input,
  button {
    background: none;
    border: none;
    font: inherit;
  }
  
  input { width: 100%; }
  
  button { cursor: pointer; }
  
  ion-icon {
    pointer-events: none;
    color: var(--white);
    width: 17px;
  }
  
  html {
    font-family: var(--ff-urbanist);
    font-size: 10px;
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--oxford-blue-2);
    background-image: url(/image/body_bg.png);
    background-repeat: repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: var(--cadet-grey);
    font-size: 1.6rem;
    line-height: 1.5;
    z-index: 1;
  }
  
  ::-webkit-scrollbar { width: 10px; }
  
  ::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%); }
  
  ::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%); }
  
  ::-webkit-scrollbar-thumb:hover { background-color: hsl(0, 0%, 70%); }
  
  
  /*-----------------------------------*\
    #REUSED STYLE
  \*-----------------------------------*/
  
 
  .headline-md {
    line-height: 10.35; /* Adjust the value as needed */
  }
  
  .body-md {
    line-height: 1.35; /* Adjust the value as needed */
  }
  
  .headline-md.section-title.text-center {
    margin-top: -300px; /* Adjust the value as needed */
  }
  
  .body-md.section-text.text-center {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  
  .label-lg { font-size: var(--label-lg); }
  
  .label-md { font-size: var(--label-md); }
  
  .headline-md,
  .title-lg,
  .title-md,
  .title-sm {
    color: var(--white);
    font-weight: var(--fw-600);
  }
  
  .btn-icon {
    width: 39px;
    height: 39px;
    display: grid;
    place-items: center;
    border-radius: var(--radius-circle);
    border: 1px solid var(--blue-violet);
  }
  
  .btn {
    margin-top: 80px; /* Adjust the value as needed */
  }
  
  .btn-icon ion-icon { --ionicon-stroke-width: 50px; }
  
  .btn-icon.primary {
    background-color: var(--blue-violet);
    transition: var(--transition-2);
    margin-top: 20px; /* Adjust the value as needed */
  
  }
  
  .btn-icon.primary:is(:hover, :focus-visible) {
    background-color: var(--electric-indigo);
    border-color: var(--electric-indigo);
  }
  
  .link\:hover:is(:hover, :focus-visible) { color: var(--blue-violet); }
  
  .section { padding-block: var(--section-padding); }
  
  .btn {
    background-color: var(--blue-violet);
    color: var(--white);
    max-width: max-content;
    font-size: var(--body-md);
    font-weight: var(--fw-600);
    padding: 8px 20px;
    border-radius: var(--radius-pill);
    display: flex;
    align-items: center;
    gap: 4px;
    transition: var(--transition-1);
  }
  
  .btn:is(:hover, :focus-visible) { background-color: var(--electric-indigo); }
  
  .text-center { text-align: center; }
  
  .section-title { margin-block-end: 44px; }
  
  .card {
    background-color: var(--oxford-blue-2);
    border-radius: var(--radius-8);
  }
  
  .card-banner { border-radius: var(--radius-8); }
  
  .img-holder {
    aspect-ratio: var(--width) / var(--height);
    background-color: var(--oxford-blue);
    overflow: hidden;
  }
  
  .img-cover {
    width: 100%;
    height: 100%;
    object-fit:cover;
    transition: var(--transition-2);
  }
  
  .btn-link {
    display: flex;
    align-items: center;
    gap: 4px;
    max-width: max-content;
    color: var(--white);
    font-weight: var(--fw-600);
    letter-spacing: 0.5px;
  }
  
  .btn-link ion-icon { color: inherit; }
  
  .grid-list {
    display: grid;
    gap: 32px;
  }
  
  .headline-md {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  .body-md {
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  .section-container .headline-md {
      margin-top: 20px; /* Adjust the value as needed */
  }
  
  .section-container .body-md {
      margin-top: 20px; /* Adjust the value as needed */
  }
  
  
  .nav-toggle-btn.active .default-icon,
  .nav-toggle-btn .active-icon { display: none; }
  
  .nav-toggle-btn .default-icon,
  .nav-toggle-btn.active .active-icon { display: block; }
  
  .header .profil-btn { overflow: hidden; }
  
  .nav-toggle-btn { font-size: 3.5rem; }
  
  .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--oxford-blue-2);
    padding-inline: 16px;
    box-shadow: var(--shadow-1);
    z-index: 1;
    overflow: hidden;
    font-size: larger;
  }
  
  .navbar.active { height: max-content; }
  
  .navbar-link {
    color: var(--white);
    font-weight: var(--fw-600);
    padding: 10px 13px;
  }
  
  
  /*-----------------------------------*\
    #HERO
  \*-----------------------------------*/
  
  .hero {
    position: relative;
    --section-padding: 1820px 64px;
    text-align: center;
    background-image: url(/image/wwss.gif);
    background-repeat: no-repeat;
    background-attachment:scroll;
    background-size: cover;
  }
  
  .hero-title .span {
    display: inline;
    background-image: var(--linear-gradient-2);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    
  }
  
  .hero .section-text {
    color: var(--white);
    opacity: 0.7;
    margin-block: 16px 32px;
  }
  
  .hero .btn { margin-inline: auto; }
  
  
  
  /*-----------------------------------*\
    #CONTACT
  \*-----------------------------------*/
  
  .contact .section-title { 
      margin-block-end: 12px;  
      background-image: url(/image/pokestop.jpg); 
      border-radius: var(--radius-12);
      box-shadow: var(--shadow-1);
      overflow: hidden;
      z-index: 1;
  }
  
  
  
  
  /*-----------------------------------*\
    #FOOTER
  \*-----------------------------------*/
  
  
  .footer {
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    height: 60%;
    background-color: var(--oxford-blue);
    padding: 20px 0; /* Adjust padding as needed */
    box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.1); /* Optional: Add shadow */
  }
  
  .footer-top {
    padding-block-start: calc(var(--section-padding) + 200px);
    border-block-end: 1px solid var(--white_a10);
  }
  
  .footer-top .container {
    display: grid;
    gap: 32px;
  }
  
  .footer-brand .footer-text {
    color: var(--light-gray);
    margin-block-start: 24px;
  }
  
  .footer-list-title { margin-block-end: 24px; }
  
  .footer-link {
    display: flex;
    align-items: center;
    gap: 2px;
    padding-block: 5px;
    color: var(--light-gray);
  }
  
  .footer-link ion-icon { color: inherit; }
  
  .footer-list-item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 8px;
  }
  
  .footer-list ul:first-child { margin-block-end: 24px; }
  
  .footer-list-item ion-icon {
    color: var(--blue-violet);
    font-size: 2rem;
    --ionicon-stroke-width: 40px;
  }
  
  .footer-bottom {
    padding-block: 30px;
    color: var(--light-gray);
  }
  
  .copyright .span {
    display: inline;
    color: var(--maximum-red);
  
  }
  
  /*-----------------------------------*\
    #BACK TO TOP
  \*-----------------------------------*/
  
  .back-to-top {
    background-color: var(--blue-violet);
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 4;
    visibility: hidden;
    opacity: 0;
    transition: var(--transition-1);
  }
  
  .back-to-top.active {
    visibility: visible;
    opacity: 1;
    transform: translateY(-10px);
  }
  
  /*-----------------------------------*\
    #MEDIA QUERIES
  \*-----------------------------------*/
  
  /**
   * responsive for large than 575px screen
   */
  
  @media (min-width: 575px) {
  
    /**
     * REUSED STYLE
     */
  
    .container {
      max-width: 480px;
      width: 100%;
      margin-inline: auto;
    }
  

  
    /**
     * NEWSLETTER
     */
  
    .newsletter .input-wrapper { position: relative; }
  
    .newsletter .input-field {
      margin-block-end: 0;
      padding-inline-end: 140px;
    }
  
    .newsletter .btn {
      position: absolute;
      top: 4px;
      right: 4px;
      bottom: 4px;
    }
  
  }
  
  /**
   * responsive for large than 768px screen
   */
  
  @media (min-width: 768px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --headline-md: 3rem;
  
      /**
       * spacing
       */
  
      --section-padding: 48px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .header .container { max-width: 768px; }
  
    .grid-list {
      grid-template-columns: 1fr 1fr;
      gap: 24px;
      
    }
  
    .section-text {
      max-width: 575px;
      margin-inline: auto;
      
    }
  
    /**
     * HEADER
     */
  
  
    .header .logo { display: block; }
  
    /**
     * HERO
     */
  
    .hero { --section-padding: 240px 80px; }
  
    /**
     * TOP COLLECTION
     */
  
    .top-collection .title-wrapper .btn-link {
      display: flex;
      margin: 0;
    }
  
    .top-collection .title-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  
    .top-collection .slider {
      --slider-item: 2;
  
      margin-inline: -16px;
      padding-inline: 8px;
    }
  
    .top-collection .slider-item { padding-inline: 12px; }
  
    .top-collection .container > .btn-link { display: none; }
  
    /**
     * DISCOVER
     */
  
    .discover .btn-link { margin-block-start: 16px; }
  
    /**
     * NEWSLETTER
     */
  
    .newsletter { margin-block-end: -130px; }
  
    .newsletter-card {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 32px;
    }
  
    .newsletter .text-center { text-align: left; }
  
    .newsletter .headline-md { --headline-md: 2.6rem; }
  
    .newsletter-card .card-text { margin-block-end: 0; }
  
    /**
     * FOOTER
     */
  
    .footer-top { padding-block-start: calc(var(--section-padding) + 80px); }
  
    .footer-top .container { grid-template-columns: 1fr 1fr; }
  
    .footer-brand { padding-inline-end: 40px; }
  
  }
  
  /**
   * responsive for large than 992px screen
   */
  
  @media (min-width: 992px) {
  
    /**
     * CUSTOM PROPERTY
     */
  
    :root {
  
      /**
       * typography
       */
  
      --headline-lg: 6rem;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .header .container { max-width: 950px; }
  
    .grid-list { grid-template-columns: repeat(3, 1fr); }
  
    /**
     * HEADER
     */
  
    .header {
      background: none;
      box-shadow: none;
    }
  
    .header.active {
      background: var(--oxford-blue-2);
      box-shadow: var(--shadow-1);
    }
  
    .nav-toggle-btn { display: none; }
  
    .header-action { gap: 12px; }
  
    .navbar,
    .navbar.active {
      all: unset;
      display: block;
      margin-inline: auto 24px;
    }
  
    .navbar-list {
      display: flex;
      gap: 12px;
    }
  
    /**
     * TOP COLLECTION
     */
  
    .top-collection .slider { --slider-item: 3; }
  
    /**
     * FOOTER
     */
  
    .footer-top .container { grid-template-columns: 1fr 0.5fr 0.5fr 0.8fr; }
  
  }
  
  /**
   * responsive for large than 1200px screen
   */
  
  @media (min-width: 1200px) {
  
    /**
     * REUSED STYLE
     */
  
    :root {
  
      /**
       * spacing
       */
  
      --section-padding: 56px;
  
    }
  
    /**
     * REUSED STYLE
     */
  
    .container,
    .header .container { max-width: 1120px; }
  
    /**
     * TOP COLLECTION
     */
  
    .top-collection .slider { --slider-item: 4; }
  
    /**
     * DISCOVER
     */
  
    .discover .grid-list { grid-template-columns: repeat(4, 1fr); }
  
  }
  /**/
  
